

<button class="back-button" {{action "gotoback" compstatus}}>Back</button>
    
<div class="show-single-cus">
    <div class="cus-head">
        <h3>Customer: {{this.model.name}}</h3>
    </div>
    <div class="single-cus">
        <div class="cus-det">
             <span>Name</span>
             <span>{{this.model.name}}</span>
        </div>

         <div class="cus-det">
             <span>Display Name</span>
             <span>{{this.model.displayname}}</span>
        </div>

         <div class="cus-det">
             <span>Phone Number</span>
             <span>{{this.model.phonenumber}}</span>
        </div>

    </div>
   

</div>



{{outlet}}